body {
    margin : 0px;
    overflow: hidden;
}

.slide-layer {
    position: fixed; 
    top: 0px; 
    left: -250px; 
    text-align: center; 
    z-index: 1;
    width: 250px;
    height: 100%;
    background-color: #cccccc;
    background-image: url(/images/chestbackground.png);
}

.slide-layer .pin {
    width: 50px;
    height: 50px;
    position: relative;
    left: 250px;
    background-color: #65de33;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background-image: url(/images/background.png);
}

.slide-layer .chest-header {
    position: absolute;
    top: 0;
    height: 50px;
    background-image: url(/images/chestheader.png);
    width: 100%;
    text-align: left;
    line-height: 33pt;
    font-size: 20pt;
}

.slide-layer .chest-header span{
    padding-left: 10px;
}

.slide-layer .picture {
    width: 100px;
    height: 100px;
}

.slide-layer .picture.not-found {
    -webkit-filter: saturate(0) grayscale(1) brightness(0);
    filter: saturate(0) grayscale(1) brightness(0);
}

.slide-layer .treasure-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 50px);
}